Test/xml-resources/web-service-references/WSAndroid/wsdl/localhost_8080/WSAndroid/WSAndroid.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSAndroid">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/WSAndroid/WSAndroid?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="retornaLivro">
<part name="parameters" element="tns:retornaLivro"/>
</message>
<message name="retornaLivroResponse">
<part name="parameters" element="tns:retornaLivroResponse"/>
</message>
<message name="retornaLista">
<part name="parameters" element="tns:retornaLista"/>
</message>
<message name="retornaListaResponse">
<part name="parameters" element="tns:retornaListaResponse"/>
</message>
<message name="soma">
<part name="parameters" element="tns:soma"/>
</message>
<message name="somaResponse">
<part name="parameters" element="tns:somaResponse"/>
</message>
<portType name="WSAndroid">
<operation name="hello">
<input wsam:Action="http://ws/WSAndroid/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WSAndroid/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="retornaLivro">
<input wsam:Action="http://ws/WSAndroid/retornaLivroRequest" message="tns:retornaLivro"/>
<output wsam:Action="http://ws/WSAndroid/retornaLivroResponse" message="tns:retornaLivroResponse"/>
</operation>
<operation name="retornaLista">
<input wsam:Action="http://ws/WSAndroid/retornaListaRequest" message="tns:retornaLista"/>
<output wsam:Action="http://ws/WSAndroid/retornaListaResponse" message="tns:retornaListaResponse"/>
</operation>
<operation name="soma">
<input wsam:Action="http://ws/WSAndroid/somaRequest" message="tns:soma"/>
<output wsam:Action="http://ws/WSAndroid/somaResponse" message="tns:somaResponse"/>
</operation>
</portType>
<binding name="WSAndroidPortBinding" type="tns:WSAndroid">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaLivro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSAndroid">
<port name="WSAndroidPort" binding="tns:WSAndroidPortBinding">
<soap:address location="http://localhost:8080/WSAndroid/WSAndroid"/>
</port>
</service>
</definitions>