Test/src/META-INF/wsdl/localhost_8080/WSAndroid/WSAndroid.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="retornaLista" type="tns:retornaLista"/>

<xs:element name="retornaListaResponse" type="tns:retornaListaResponse"/>

<xs:element name="retornaLivro" type="tns:retornaLivro"/>

<xs:element name="retornaLivroResponse" type="tns:retornaLivroResponse"/>

<xs:element name="soma" type="tns:soma"/>

<xs:element name="somaResponse" type="tns:somaResponse"/>

<xs:complexType name="soma">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornaLista">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornaListaResponse">
<xs:sequence>
<xs:element name="return" type="tns:livro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="livro">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
<xs:element name="editora" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornaLivro">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornaLivroResponse">
<xs:sequence>
<xs:element name="return" type="tns:livro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>