WS_C++++/WS_C++++/Connected Services/WS/WSAndroid.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSAndroid" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WSAndroid/WSAndroid?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="retornaLivro">
    <part name="parameters" element="tns:retornaLivro" />
  </message>
  <message name="retornaLivroResponse">
    <part name="parameters" element="tns:retornaLivroResponse" />
  </message>
  <message name="soma">
    <part name="parameters" element="tns:soma" />
  </message>
  <message name="somaResponse">
    <part name="parameters" element="tns:somaResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="retornaLista">
    <part name="parameters" element="tns:retornaLista" />
  </message>
  <message name="retornaListaResponse">
    <part name="parameters" element="tns:retornaListaResponse" />
  </message>
  <portType name="WSAndroid">
    <operation name="retornaLivro">
      <input wsam:Action="http://ws/WSAndroid/retornaLivroRequest" message="tns:retornaLivro" />
      <output wsam:Action="http://ws/WSAndroid/retornaLivroResponse" message="tns:retornaLivroResponse" />
    </operation>
    <operation name="soma">
      <input wsam:Action="http://ws/WSAndroid/somaRequest" message="tns:soma" />
      <output wsam:Action="http://ws/WSAndroid/somaResponse" message="tns:somaResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://ws/WSAndroid/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws/WSAndroid/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="retornaLista">
      <input wsam:Action="http://ws/WSAndroid/retornaListaRequest" message="tns:retornaLista" />
      <output wsam:Action="http://ws/WSAndroid/retornaListaResponse" message="tns:retornaListaResponse" />
    </operation>
  </portType>
  <binding name="WSAndroidPortBinding" type="tns:WSAndroid">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="retornaLivro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="soma">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retornaLista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSAndroid">
    <port name="WSAndroidPort" binding="tns:WSAndroidPortBinding">
      <soap:address location="http://localhost:8080/WSAndroid/WSAndroid" />
    </port>
  </service>
</definitions>